body {
  height: 100vh;
  margin: 0;
  font-family: GT Super Display,Times New Roman,"serif";
}

.main {
  height: 100%;
  display: grid;
  grid-template-rows: 75px 1fr;
}

.button {
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
  cursor: pointer;
  &:hover {
    background-color: cyan;
  }
}

.delete-cart-item.button {
  padding-top: 15px;
}

.header {
  background-color: lightblue;
  .title-text {
    padding-top: 10px;
    padding-left: 150px;
    font-size: 40px;
    text-align: left;
  }
  display: grid;
  grid-template-columns: 9fr 4fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  .button {
    padding-top: 15px;
  }
  .user-email {
    padding-top: 25px;
    text-align: right;
  }
}

.title-text {
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.content {
  width: 60%;
  margin: 0 auto;
  height: calc(100vh - 70px);
  overflow-y: auto;
  
}

::-webkit-scrollbar {
  display: none;
}

.cards {
  display: grid;
  grid-row-gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: lighten(lightblue, 20);
  cursor: pointer;

  .info {
    padding: 20px;
    display: grid;
  }

  div {
    font-size: 20px;
  }
}

.card-view {
  padding: 50px 0;
  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }
}

input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-top: 10px;
}

.sign-in-wrapper {
  display: inline-flex;
  width: 70%;
  padding: 20px;


  .sign-in {
    position: relative;
    .inputs {
      display: grid;
      grid-row-gap: 20px;
    }
  }

  .bad-auth {
    color: red;
  }

  .bad-reg {
    color: red;
  }

  .register {
    left: 50%;
    position: relative;
    .inputs {
      display: grid;
      grid-row-gap: 20px;
    }
  }
}

.new-card .button {
  padding-top: 20px;
}

.admin {
  display: grid;
  grid-template-rows: 20px;
  padding: 25px 0;

  .order-list {
    display: grid;
    grid-template-rows: 20px;

    .order {
      border: 1px solid black;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      cursor: pointer;

      .order-user {
        display: inline-flex;
        padding-left: 40px;
        div {
          padding-right: 5px;
          padding-left: 10px;

        }
      }

      .order-line {
        border-bottom: 1px dotted lightgrey;
        margin: 5px;
        padding: 5px;
      }
    }
  }

  .total-sales {
    padding: 20px;
    font-size: 30px;
  }

  .order-count {
    padding: 20px;
    font-size: 30px;
  }

  .total-profit {
    padding: 20px;
    font-size: 30px;
  }
}

.admin-actions {
  padding: 50px 200px;
  display: grid;
  grid-gap: 30px;
  width: 500px;
  justify-content: center;

  .edit-card-wrapper {
    display: inline-flex;
    justify-content: space-between;
  }

  .delete-card-wrapper {
    display: inline-flex;
    justify-content: space-between;
  }
}
