body {
  height: 100vh;
  margin: 0;
}

.main {
  height: 100%;
  display: grid;
  grid-template-rows: 75px 1fr;
}

.header {
  background-color: lightblue;
}

.content {
  width: 75%;
  margin: 0 auto;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.cards {
  display: grid;
  grid-row-gap: 20px;
}

.card {
  height: 100px;
}
